node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# compiled files
compiled/

.DS_Store

# Rubymine
.idea

# Fern preview files
/fern/.preview
/fern/.definition